ass.log 

log_files/slurm_files/slurm-*

analyses/02_genome_assembly/soapdenovo/SOAPdenovo_output_K49.*
analyses/02_genome_assembly/soapdenovo/clear_SOAPdenovo_output_K49.contig
analyses/02_genome_assembly/soapdenovo/sequence_cleaner.py

analyses/02_genome_assembly/nucmer/sel2_NW_015504334.fna
analyses/02_genome_assembly/nucmer

analyses/02_genome_assembly/mummerplot/run_1
analyses/02_genome_assembly/mummerplot/run_2
analyses/02_genome_assembly/mummerplot/run_3

analyses/02_genome_assembly/mummerplot/run_4/out.filter
analyses/02_genome_assembly/mummerplot/run_4/out.fplot
analyses/02_genome_assembly/mummerplot/run_4/out.gp
analyses/02_genome_assembly/mummerplot/run_4/out.rplot

data/all_rna_trimmed/sel2_SRR1719*
