#maximal read length
max_rd_len=100

[LIB] # Bat_400, slutar på 94
#average insert size
avg_ins=400

#if sequence needs to be reversed 
reverse_seq=0

#in which part(s) the reads are used
asm_flags=3

#in which order the reads are used while scaffolding
rank=2

# cutoff of pair number for a reliable connection (at least 3 for short insert size)
pair_num_cutoff=3

#minimum aligned length to contigs for a reliable read location (at least 32 for short insert size)
map_len=32

#a pair of fastq file, read 1 file should always be followed by read 2 file
q1=/home/jennij/Genome_Analysis/data/dna_data/sel2_SRR5819794.trim_1P.fastq.gz
q2=/home/jennij/Genome_Analysis/data/dna_data/sel2_SRR5819794.trim_2P.fastq.gz

#fastq file for single reads
q=/home/jennij/Genome_Analysis/data/dna_data/sel2_SRR5819794.trim_1U.fastq.gz

#another fastq file for single reads
q=/home/jennij/Genome_Analysis/data/dna_data/sel2_SRR5819794.trim_2U.fastq.gz 


[LIB] # Bat_800, slutar på 95
avg_ins=800
reverse_seq=0
asm_flags=3
rank=3
pair_num_cutoff=3
map_len=32

q1=/home/jennij/Genome_Analysis/data/dna_data/sel2_SRR5819795.trim_1P.fastq.gz
q2=/home/jennij/Genome_Analysis/data/dna_data/sel2_SRR5819795.trim_2P.fastq.gz
q=/home/jennij/Genome_Analysis/data/dna_data/sel2_SRR5819795.trim_1U.fastq.gz
q=/home/jennij/Genome_Analysis/data/dna_data/sel2_SRR5819795.trim_2U.fastq.gz


[LIB] # Bat_8to10kb, slutar på 96
avg_ins=9000
reverse_seq=1
asm_flags=3
rank=6
pair_num_cutoff=5
map_len=35

q1=/home/jennij/Genome_Analysis/data/dna_data/sel2_SRR5819796.trim_1P.fastq.gz
q2=/home/jennij/Genome_Analysis/data/dna_data/sel2_SRR5819796.trim_2P.fastq.gz
q=/home/jennij/Genome_Analysis/data/dna_data/sel2_SRR5819796.trim_1U.fastq.gz
q=/home/jennij/Genome_Analysis/data/dna_data/sel2_SRR5819796.trim_2U.fastq.gz


[LIB] # Bat_175, slutar på 97
avg_ins=175
reverse_seq=0
asm_flags=3
rank=1
pair_num_cutoff=3
map_len=32

q1=/home/jennij/Genome_Analysis/data/dna_data/sel2_SRR5819797.trim_1P.fastq.gz
q2=/home/jennij/Genome_Analysis/data/dna_data/sel2_SRR5819797.trim_2P.fastq.gz
q=/home/jennij/Genome_Analysis/data/dna_data/sel2_SRR5819797.trim_1U.fastq.gz
q=/home/jennij/Genome_Analysis/data/dna_data/sel2_SRR5819797.trim_2U.fastq.gz


[LIB] # Bat_2to4kb, slutar på 98
avg_ins=3000
reverse_seq=1
asm_flags=3
rank=4
pair_num_cutoff=5
map_len=35

q1=/home/jennij/Genome_Analysis/data/dna_data/sel2_SRR5819798.trim_1P.fastq.gz
q2=/home/jennij/Genome_Analysis/data/dna_data/sel2_SRR5819798.trim_2P.fastq.gz
q=/home/jennij/Genome_Analysis/data/dna_data/sel2_SRR5819798.trim_1U.fastq.gz
q=/home/jennij/Genome_Analysis/data/dna_data/sel2_SRR5819798.trim_2U.fastq.gz


[LIB] # Bat_5to6kb, slutar på 99
avg_ins=5500
reverse_seq=1
asm_flags=3
rank=5
pair_num_cutoff=5
map_len=35

q1=/home/jennij/Genome_Analysis/data/dna_data/sel2_SRR5819799.trim_1P.fastq.gz
q2=/home/jennij/Genome_Analysis/data/dna_data/sel2_SRR5819799.trim_2P.fastq.gz
q=/home/jennij/Genome_Analysis/data/dna_data/sel2_SRR5819799.trim_1U.fastq.gz
q=/home/jennij/Genome_Analysis/data/dna_data/sel2_SRR5819799.trim_2U.fastq.gz